// Variables

$white: #fff;
$black: #000;
$gray-lighter: #E6E6E6;
$gray-light: #b3b2b2;
$gray: #888888;
$gray-dark: #2a2a2a;

$brand-primary: #7d3333;

$link: $brand-primary;

$sans-serif: Arial,Helvetica,Sans-serif;

// Import Partials
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "partials/fonts";

// Import Modules
@import "jquery.datepick.css";
@import "modules/booking";
@import "modules/datepicker";