/* Fonts
--------------------------------------------- */
body, 
input[type="text"], 
select { 
	color:$gray-dark; 
	font-family: $sans-serif;
	font-size:16px; 
}

h1 { 
}
h2 {  }

p {  }

a { 
	color: $gray-dark; 
	text-decoration: none; 
}
a:visited { 
	color: $gray-dark; 
}
a:active { 
	color: $gray-dark; 
}
a:hover { 
	color: $gray-dark;  
}

.btn-row { 
	position:relative; 
}
a.btn, 
input[type="button"] { 
	display:block; 
	font-size:.875em; 
	height:39px; 
	line-height:39px; 
	padding:0 25px; 
	text-align:center; 
	text-transform: uppercase; 
}
.btn-row a.btn, 
.btn-row input[type="button"] { 
	display: inline-block; 
}

.booking-widget--row .date-box {
	background: $white;
}

